.show{
  opacity: 1;
  animation: show-item 2s ease-in forwards;

}
.hide{
  opacity: 0;
  animation: hide-item 2s ease-in forwards;

}

@keyframes hide-item {
  0% {
    opacity: 1;
    color: red;
  }
  50%{
    opacity: 0.5;
    color: green;
  }
  100% {
    opacity: 0;
    color: blue;
  }
}
@keyframes show-item {
  0% {
    opacity: 0;
    color: red;
  }

  50% {
    opacity: 0.5;
    color: green;
  }

  100% {
    opacity: 1;
    color: blue;
  }
}


.my-node-enter, .my-node-appear {
  opacity: 0;
}

.my-node-enter-active,
.my-node-appear-active {
  opacity: 1;
  transition: opacity 1s;
}
.my-node-enter-done{
  opacity: 1;
}
.my-node-exit {
  opacity: 1;
}

.my-node-exit-active {
  opacity: 0;
  transition: opacity 1s;
}
.my-node-exit-done{
  opacity: 0;
}